/*navigation*/
.navigation {
background-color:grey;
}

/*header*/
.header img {
    width: 100%;
    
}

/*services*/
.services h1 {
    margin: 0 auto;
    weight: 100%;
}


/*services*/



/*portfolio*/




/*footer*/
